@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    color: orange;
    font-family: 'Open Sans', sans-serif;
}

section{
    padding: 60px;
}

/*NAV BAR!*/

.accrosstop{
    max-width: 2000px;
    padding:0 60px;
    flex-wrap: wrap;


}

.navbar{
    background: teal;
    padding:20px 35px;
    justify-content: space-between;
}

.navbar .accrosstop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .main a{
    font-weight:bold;
    font-size: 35px;
    color:orange;
    margin:0;
    text-decoration: none;
}


.navbar .crossmenu a{
    color: orange;
    text-decoration: none;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.navbar .crossmenu li{
    list-style: none;
    display: inline-block;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 700;
    color: crimson;
    margin-left: 25px;
    align-items: center;
}

/*FOOOTER*/

.footer{
    background:orange;
    width:100%;
    padding:40px 30px;
}

.footer .fttext{
    display:inline;
    color:teal;
    font-size: 30px;
    margin:0;
}

.footer .foottext{
    float:right;
    line-height: 1.5;
    text-align: right;
    color: teal;
}

.footer .foottext a{
    color:teal;
}

/*hero*/

.hero{
    background: url("https://static.fullstack-bootcamp.com/module-1/hero-bg.jpg") no-repeat center;
    height:600px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position:relative;
}

.hero p{
    margin: 5px 0 15px 0;
  }

.hero h3{
    font-size: 34px;
}

.signup{
    border:solid 6px teal;
    background: orange;
    padding:20px;
    width:700px;
    color:teal;
    position:absolute;
    bottom: 120px;
    right: 200px;
    margin: -60px;
}

.input{
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero label{
    margin:0 5px;
}

.signup button{
    color: yellow;
    background-color:navy;
    padding:10px 20px;
    font-size: 16px;
}

/*INTRO*/

.intro{
    text-align:center;
}


.intro p{
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;;
    margin: 0 auto;
}

/*SHARED STUFF*/

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
  }
  
  .primary-border {
    border-color: #fce138;
  }
  
  .secondary-border {
    border-color: #39a6b2;
  }

  .textleft {
    text-align: left;
  }
  
  .textright {
    text-align: right;
  }

/*WHAT YOU DO*/

.steps{
    text-align: center;
    background: coral;
}

.steps div{
    margin-bottom: 80px;
  }
  
  .steps img{
    width: 15%;
    margin: 10px 0;
  }
  
  .steps h3{
    color: navy;
    font-size: 46px;
    margin-top: 10px;
  }
  
  .steps p{
    color: lightskyblue;
    font-size: 23px;
  }

  /*TRAINERS*/

  .trainers{
    text-align:center;
}

  .trainer{
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
    overflow:auto;
  }

  .trainer img{
    width: 35%;
    float: left;

  }
  
  .trainerbio{
    padding: 35px;
    float: left;
    width: 65%;
  }
  
  .trainerbio h3{
    font-size: 32px;
    margin-bottom: 8px;
  }
  
  .trainerbio h4{
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
  }
  
  .trainerbio p{
    font-size: 17px;
    line-height: 1.3;
  }

  .reach{
    text-align:center;
    background:navy;
    color:teal;
  }

  .reach h2{
      color:orange;
  }

  .contactinfo iframe{
    width:800; 
    height:800;
  }

  .contactinfo div{
      display: inline-block;
      width:410px;
      vertical-align: top;
      text-align: left;
      margin: 30px 60px;
  }

  .contactinfo h3 {
    color: #fce138;
    font-size: 32px;
  }
  
  .contactinfo p, .contactinfo address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
  }
  
  .contactinfo a {
    color: #fce138;
  }